@charset "UTF-8";

/*　すべてのページに適用　 -*/

html{
	text-align:center;
}

table{
	text-align:left;
    margin-left: auto;
    margin-right: auto;
}

/*運営専用ボタンに適用*/

.login_button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 9px 10px;   /* 余白       */
  background    : #ff9999;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 3px 3px #666666;  /* 影の設定 */
  border        : 1px solid #ff9999;    /* 枠の指定 */
}
.login_button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ff9999;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/*ボタン右寄せ*/
.pw {
	text-align: right;
	margin-left: 10%;
	margin-right: 10%;
}
/*検索フォームテーブル*/
.advice{
	font-size:15px;
}
strong{
	color:#ff7f50;
}
.a_search{
	margin-top: 35px;
}
.a_search th, .a_saerch td{
	padding: 8px;
}
/*検索結果を表に*/
.a_search2 th, .a_saerch2 td{
	padding: 8px;
}
.result_table {
	border: 3px dotted #fa8072;
	border-radius: 20px;
	margin: auto;
	width: 750px;
	margin-bottom: 5px;
}
.table1{
	width: 100px;
}
.table2{
	width: 200px;
}
.table3{
	width: 100px;
}
.table4{
	width: 100px;
}
/*文字を小さく*/
.small{
	font-size:8px;
}
/*運営のアドバイス登録画面*/
.nav2{
	margin-top: 50px;
}
.to{
	text-decoration: none;
	margin: auto 5px auto 5px;
}
.to:hover {
	color: #7b8dac;
	text-decoration: none;
}
.edit_table{
	margin-top: 30px;
	margin-bottom: 20px;
}
.edit_table th, .edit_table td{
	padding: 8px;
}
/*運営のアドバイス検索結果*/
.content{
	width: 98%;
	line-height: 150%;
	font-size: 15px;
}