@charset "UTF-8";
/*全画面共通*/
html {
	font-family: MingLiU;
	text-align: center;
}

body {
	margin: 0 0 0 0;
}

h1 {
	text-align: center;
}
/*ヘッダー*/
header {
	background-color: #ffb6c1;
	height: 50px;
	background-image: linear-gradient(to right, #ff4500, #ff4500 2px, transparent 2px,
		transparent 8px); /* 幅2の線を作る */
	background-size: 15px 3px; /* グラデーションの幅・高さを指定 */
	background-position: left bottom; /* 背景の開始位置を指定 */
	background-repeat: repeat-x;
}

.TARACO_icon {
	float: left;
	width: 10%;
	height: auto;
	margin-left: 30px;
	margin-top: 5px;
}

#clock {
	float: left;
	text-align: left;
	margin: 0;
	padding-top: 25px;
	padding-left: 10px;
}

.nav {
	text-align: right;
}

.nav ul {
	margin: 0;
	float: right;
	padding-top: 20px;
}

.nav li { /*ナビゲーションを横並びに&カーソルによって色変化*/
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

.nav a:link {
	color: #3c454d;
	text-decoration: none;
}

.nav a:visited {
	color: #3c454d;
	text-decoration: none;
}

.nav a:hover {
	color: #7b8dac;
	text-decoration: none;
}

.nav a:active {
	color: #5a9bc0;
	text-decoration: none;
}

/*フッター*/
footer {
	background-image: linear-gradient(to right, #ff4500, #ff4500 2px, transparent 2px,
		transparent 8px); /* 幅2の線を作る */
	background-size: 15px 3px; /* グラデーションの幅・高さを指定 */
	background-position: left top; /* 背景の開始位置を指定 */
	background-repeat: repeat-x;
	background-color: #ffb6c1;
	height: 45px;
	margin-top: 20px;
}

.copyright {
	float: left;
	padding-top: 3px;
	padding-left: 10px;
	color: #3c454d;
	font-size: 13px;
}

.logout {
	text-align: right;
	margin-right: 30px;
	padding-top: 16px;
}

.logout a:link {
	color: #3c454d;
	text-decoration: none;
}

.logout a:visited {
	color: #3c454d;
	text-decoration: none;
}

.logout a:hover {
	color: #7b8dac;
	text-decoration: none;
}

.logout a:active {
	color: #5a9bc0;
	text-decoration: none;
}
/*ホーム*/
.mypage {
	text-align: right;
	margin-right: 30px;
	padding-top: 20px;
}

.mypage a:link {
	color: #3c454d;
	text-decoration: none;
}

.mypage a:visited {
	color: #3c454d;
	text-decoration: none;
}

.mypage a:hover {
	color: #7b8dac;
	text-decoration: none;
}

.mypage a:active {
	color: #5a9bc0;
	text-decoration: none;
}

#summary_table {
	margin: 70px auto;
	text-align: center;
	width: 800px;
}

#summary_table th, #summary_table td {
	padding: auto 8px;
}

#summary_table td img:hover {
	transform: scale(1.05, 1.05);
}
/*処理結果＿ログイン*/
.backTo {
	margin-bottom: 20px;
	cursor: pointer;
	cursor: hand;
}