@charset "UTF-8";

html {
	text-align: center;
}
/*ログイン*/
.login_body {
	background-image: url("../images/login_background.jpg"); /*背景画像*/
	background-size: cover;
}

.introduction {
	background-color: rgba(255, 255, 255, 0.6);
	width: 490px;
	height: 300px;
	float: left;
	margin: 0px 0px auto 200px; /*上右下左*/
	padding: 10px;
}

#sub {
	text-align: left;
	line-height: 35px;
}

.login_box {
	width: 300px;
	height: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 200px 200px auto auto;
	border: 1px solid #3f5170;
	border-radius: 40px;
}

.login_table {
	text-align: center;
	margin: 30px auto 30px auto;
}

.login_table td {
	padding: 8px;
}

.login {
	height: 25px;
	border-radius: 1px;
}

.login_botton {
	color: #fff;
	background-color: #4169e1;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 3px;
	font-size: 18px;
	margin-bottom: 10px;
	cursor: pointer;
	cursor: hand;
}

.btn1 {/*新規登録へ*/
	color: ＃b0c4dc;
	text-decoration: none;
	font-size: 15px;
	margin: 8px;
}

#errormsg {
	color: #ff0000;
	font-size: 12px;
}
/*新規登録*/
header {
	background-color: #ffb6c1;
	height: 50px;
	background-image: linear-gradient(to right, #ff4500, #ff4500 2px, transparent 2px,
		transparent 8px); /* 幅2の線を作る */
	background-size: 15px 3px; /* グラデーションの幅・高さを指定 */
	background-position: left bottom; /* 背景の開始位置を指定 */
	background-repeat: repeat-x;
}

body {
	margin-top: 0;
}

.TARACO_icon {
	float: left;
	width: 10%;
	height: auto;
	margin-left: 30px;
	margin-top: 5px;
}

#clock {
	text-align: left;
	margin: 0;
	padding-top: 20px;
	padding-left: 180px;
}

footer {
	background-image: linear-gradient(to right, #ff4500, #ff4500 2px, transparent 2px,
		transparent 8px); /* 幅2の線を作る */
	background-size: 15px 3px; /* グラデーションの幅・高さを指定 */
	background-position: left top; /* 背景の開始位置を指定 */
	background-repeat: repeat-x;
	background-color: #ffb6c1;
	height: 45px;
	margin-top: 10px;
	background-color: #ffb6c1;
	text-align: left;
	color: #3c454d;
}

#copyright {
	padding-top: 16px;
	padding-left: 10px;
	color: #3c454d;
	font-size: 13px;
}

.regist_table {
	margin: 3px auto;
	text-align: left;
}

input[type="text"] {
	width: 16em;
}

input[type="password"] {
	width: 16em;
}

.msg {
	font-size: 5px;
}

/*.regist_btn {
	text-align: center;
	width: 30px;
}*/