@charset "UTF-8";

html {
	text-align: center;
}
/*ログイン*/
.login_body {
	background-image: url("../images/login_background.jpg"); /*背景画像*/
	background-size: cover;
}

.introduction {
	background-color: rgba(255, 255, 255, 0.6);
	width: 500px;
	height: 300px;
	float: left;
	margin: 0px 30px auto 200px; /*上右下左*/
	padding: 10px;
}

#sub {
	text-align: left;
}

.login_box {
	width: 300px;
	height: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 200px 150px auto auto;
	border: 1px solid #3f5170;
	border-radius: 40px;
}

.login_table {
	text-align: center;
	margin: 30px auto 30px auto;
}
.login_table td{
	padding:8px;
}
.login{
	height: 25px;
	border-radius: 1px;
}
.btn1 { /*新規登録へ*/
	margin: 30px auto 30px auto;
}
#errormsg{
	color: #ff0000;
}
/*新規登録*/
header {
	background-color: #ffb6c1;
	height: 50px;
}
body{
	margin-top: 0;
}
.TARACO_icon {
	float: left;
	width: 10%;
	height: auto;
	margin-left: 30px;
	margin-top: 5px;
}
#clock{
	text-align: left;
	margin: 0;
	padding-top: 20px;
	padding-left: 180px;
}
#copyright {
	background-color: #ffb6c1;
	height: 50px;
	text-align: left;
}

.regist_table {
	margin: 3px auto;
	text-align: left;
}

input[type="text"]{
	width: 16em;
}
input[type="password"]{
	width: 16em;
}
.msg {
	font-size: 5px;
}

/*.regist_btn {
	text-align: center;
	width: 30px;
}*/