@charset "UTF-8";


/* question.jsp */
.gotoUpload {
	text-align: right;
	margin-left: 10%;
	margin-right: 10%;
}

.caution {
	text-align:left;
	margin-left: 10%;
	margin-right: 10%;
	font-size:50%
}

.questionFerris{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
	border:3px solid #000000;
}
.questionFerris th, .questionFerris td{
	border:1px solid #999999;
}

/* q_post.jsp */
.post_question{
	margin-left: auto;
	margin-right: auto;
}

.post_table{

	width: 80%;
}

.small {
	font-size: 8px;
}

.questionSentences {
	width: 512px;
	height: 128px;
	vertical-align: top;
	text-align: left;
}