@charset "UTF-8";

html{
	text-align:center;
}

table,tr {
  border: 1px solid #000000;
  text-align:left;
}

.uploadDate{
	width:192px;
}
.uploadUser{
	width:64px
}
.question{
	width:384px
}