@charset "UTF-8";

/* question.jsp */
.gotoUpload {
	text-align: right;
	margin-left: 10%;
	margin-right: 10%;
}

.caution {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 50%
}

.questionFerris {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
	border: 3px solid #000000;
}

.questionFerris td a {
	display: block;
	padding: 0.6em 1em;
}

.questionFerris th, .questionFerris td {
	border: 1px solid #999999;
}

/* q_post.jsp */
.post_table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.post_table th {
	border-collapse: collapse;
	width: 15%;
}

.post_text {
	width: 100%;
}

.small {
	font-size: 8px;
}

.questionSentences {
	resize: vertical;
	width: 80%;
	height: 128px;
	vertical-align: top;
	text-align: left;
}

.smallerror {
	color: #dd0000;
	font-size: 8px;
}
/* q_answer.jsp */
.answer_table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-collapse: collapse;
	border: 3px solid #000000;
}

.answer_table2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.answer_table th, .answer_table tr {
	vertical-align: top;
	border: 1px solid #999999;
}

.answer_table th {
	width: 10%;
}

.Graph {
	display: flex;
	justify-content: center;
}